//-
 File Name: footer.pug
 Author's name:  Gurinder Singh
 Website name: Guirnder Singh's Portfolio
 File description: This will be the footer for all the pug templates which displays the info about the person.
//
footer(style="border-top: 2px solid black ; background-color: lighgrey ;")
    p My Personal Portfolio web application
    p by Gurinder Singh(200424599) 
    p Javascript Frameworks COMP2068
    p Instructor JAcob Amaral
    <!--script tags sources from bootstarp library-->
       script(src="~/lib/jquery/dist/jquery.min.js")
       script(src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js")